In [ ]:
import pandas as pd
pd.Series(data=[10,20,15,21],name = "marks")
r=pd.Series(a_list,index=['a','b','c','d','e','f'],name="some_list")
r
my_dict = {
    'a':1,
    'b':2,
    'c':3,
    'd':4,
    'e':5
}
pd.Series(my_dict,name = "series_useing_dict")

a    1
b    2
c    3
d    4
e    5
Name: series_useing_dict, dtype: int64

### ðŸŽ¯ Your Task:

Using **Pandas Series**, perform the following:

âœ… Create a Series named `scores` using the dictionary `student_scores`.

âœ… Print the marks scored by **"Charlie"** and **"Eva"**.

âœ… Add **5 bonus marks** to all students and print the updated Series.

âœ… Display only the students who scored **above 90** after the bonus.

âœ… Calculate and print the **average marks** of the class (after the bonus).

In [ ]:
student_scores= {
    "ramu": 99,
    "karan":100,
    "himeshs":65,
    "vikram":98,
    "khan":78,
    "bob":65
}
s=pd.Series(student_scores)
s
sum_=0
print(s['vikram'])
for i in s.keys():

  s[i]+=5
  sum_+=s[i]
s
for i in s.keys():
  if s[i]>90:
    print(i)
print(sum_//len(s))

98
ramu
karan
vikram
89

In [ ]:
#dataframes
import numpy as np
import pandas as pd
arr = np.array([[17,25],[19,51],[21,16],[17,18]])
ser = pd.DataFrame(arr,index = ['vikram','raj','nag','shruthi'],columns=['age','marks'])
ser
ser.values
ser . index
ser . columns

Index(['age', 'marks'], dtype='object')

In [ ]:
#using dictionaries
my_dict ={
    'name':{'ru':'rukmini','vs':'vasanthan','pr':'priyanka','mo':'mohan'},
    'age':{'ru':23,'vs':24,'pr':'54','mo':43},
    'marks':{'ru':97,'vs':99,'pr': 56,'mo':65}
}
df = pd.DataFrame(my_dict)
df

         name age  marks
ru    rukmini  23     97
vs  vasanthan  24     99
pr   priyanka  54     56
mo      mohan  43     65

In [ ]:
df.index
df.columns
df.ndim
df.shape
type(df.values)
df.values

array([['rukmini', 23, 97],
       ['vasanthan', 24, 99],
       ['priyanka', '54', 56],
       ['mohan', 43, 65]], dtype=object)

In [ ]:
import pandas as pd
ser1 = pd.Series({'ru':'rukmini','vs':'vasanthan','pr':'priyanka','mo':'mohan'})
ser2 = pd.Series({'ru':23,'vs':24,'pr':54,'mo':43})
ser3 = pd.Series({'ru':97,'vs':99,'pr': 56,'mo':65})
cols = {
    'name':ser1,
    'age':ser2,
    'marks':ser3
}
df = pd.DataFrame(cols)
df

         name age  marks
ru    rukmini  23     97
vs  vasanthan  24     99
pr   priyanka  54     56
mo      mohan  43     65


You are given three Series representing student data:

Names of students

Their ages

Their marks

These series are combined into a DataFrame as shown earlier.

### ðŸŽ¯ Your Task:
Using the existing DataFrame, perform the following operations:

âœ… Print the details (name, age, marks) of the student who scored the highest marks.

âœ… Add a new student "Tharushi" with age 23 and marks 88 using the index "Th".

âœ… Display the details of students who are 25 years old or older.

âœ… Increase the marks of students below 80 by 10 bonus points.

âœ… Calculate and print the average marks of all students after the bonus.

In [ ]:
import pandas as pd
ser1 = pd.Series({'ru':'rukmini','vs':'vasanthan','pr':'priyanka','mo':'mohan'})
ser2 = pd.Series({'ru':23,'vs':24,'pr':54,'mo':43})
ser3 = pd.Series({'ru':97,'vs':99,'pr': 56,'mo':65})
cols = {
    'name':ser1,
    'age':ser2,
    'marks':ser3
}
df = pd.DataFrame(cols)

# Print the details (name, age, marks) of the student who scored the highest marks.
highest_marks_student = df.loc[df['marks'].idxmax()]
print("Student with the highest marks:")
print(highest_marks_student)

# Add a new student "Tharushi" with age 23 and marks 88 using the index "Th".
df.loc['Th'] = pd.Series({'name':'Tharushi','age':23,'marks':88})
print("\nDataFrame after adding Tharushi:")
print(df)

# Display the details of students who are 25 years old or older.
print("\nStudents 25 years old or older:")
print(df[df['age'] >= 25])

# Increase the marks of students below 80 by 10 bonus points.
df.loc[df['marks'] < 80, 'marks'] += 10
print("\nDataFrame after adding bonus marks:")
print(df)

# Calculate and print the average marks of all students after the bonus.
average_marks = df['marks'].mean()
print(f"\nAverage marks of all students after bonus: {average_marks}")

Student with the highest marks:
name     vasanthan
age             24
marks           99
Name: vs, dtype: object

DataFrame after adding Tharushi:
         name  age  marks
ru    rukmini   23     97
vs  vasanthan   24     99
pr   priyanka   54     56
mo      mohan   43     65
Th   Tharushi   23     88

Students 25 years old or older:
        name  age  marks
pr  priyanka   54     56
mo     mohan   43     65

DataFrame after adding bonus marks:
         name  age  marks
ru    rukmini   23     97
vs  vasanthan   24     99
pr   priyanka   54     66
mo      mohan   43     75
Th   Tharushi   23     88

Average marks of all students after bonus: 85.0

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/data.csv'
df = pd.read_csv(path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df.head()
df.tail()
df.info()
df.isnull()


x = df["Calories"].mean()
df.fillna({"Calories":x},inplace = True)
print(df.to_string())

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     31 non-null     int64
 3   Maxpulse  31 non-null     int64
 4   Calories  29 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 2.5 KB
    Duration       Date  Pulse  Maxpulse    Calories
0         60 2020-12-01    110       130  409.100000
1         60 2020-12-02    117       145  479.000000
2         60 2020-12-03    103       135  340.000000
3         45 2020-12-04    109       175  282.400000
4         45 2020-12-05    117       148  406.000000
5         60 2020-12-06    102       127  300.000000
6         60 2020-12-07    110       136  374.000000
7         45 2020-12-08    104       134  253.300000
8         30 2020-12-09    109       133  195.100000
9         60 2020-12-10     98       124  269.000000
10        60 2020-12-11    103       147  329.300000
11        60 2020-12-12    100       120  250.700000
12        60 2020-12-12    100       120  250.700000
13        60 2020-12-13    106       128  345.300000
14        60 2020-12-14    104       132  379.300000
15        60 2020-12-15     98       123  275.000000
16        60 2020-12-16     98       120  215.200000
17        60 2020-12-17    100       120  300.000000
18        45 2020-12-18     90       112  305.462069
19        60 2020-12-19    103       123  323.000000
20        45 2020-12-20     97       125  243.000000
21        60 2020-12-21    108       131  364.200000
23        60 2020-12-23    130       101  300.000000
24        45 2020-12-24    105       132  246.000000
25        60 2020-12-25    102       126  334.500000
26        60 2020-12-26    100       120  250.000000
27        60 2020-12-27     92       118  241.000000
28        60 2020-12-28    103       132  305.462069
29        60 2020-12-29    100       132  280.000000
30        60 2020-12-30    102       129  380.300000
31        60 2020-12-31     92       115  243.000000

In [ ]:
df['Date'] = pd.to_datetime(df['Date'],format ='mixed')
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
df.dropna(subset = ['Date'],inplace = True)
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
df.loc[7,['Duration']]= 45
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
for x in df.index:
  if df.loc[x,"Duration"]>120:
    df.loc[x,"Duration"]=120
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [ ]:
high_pulse = df[df['Pulse']>110]
print(high_pulse)

    Duration       Date  Pulse  Maxpulse  Calories
1         60 2020-12-02    117       145     479.0
4         45 2020-12-05    117       148     406.0
23        60 2020-12-23    130       101     300.0

In [ ]:
sorted_df = df.sort_values(by = 'Calories',ascending = True)
print(sorted_df)

    Duration       Date  Pulse  Maxpulse    Calories
8         30 2020-12-09    109       133  195.100000
16        60 2020-12-16     98       120  215.200000
27        60 2020-12-27     92       118  241.000000
31        60 2020-12-31     92       115  243.000000
20        45 2020-12-20     97       125  243.000000
24        45 2020-12-24    105       132  246.000000
26        60 2020-12-26    100       120  250.000000
11        60 2020-12-12    100       120  250.700000
12        60 2020-12-12    100       120  250.700000
7         45 2020-12-08    104       134  253.300000
9         60 2020-12-10     98       124  269.000000
15        60 2020-12-15     98       123  275.000000
29        60 2020-12-29    100       132  280.000000
3         45 2020-12-04    109       175  282.400000
17        60 2020-12-17    100       120  300.000000
5         60 2020-12-06    102       127  300.000000
23        60 2020-12-23    130       101  300.000000
28        60 2020-12-28    103       132  305.462069
18        45 2020-12-18     90       112  305.462069
19        60 2020-12-19    103       123  323.000000
10        60 2020-12-11    103       147  329.300000
25        60 2020-12-25    102       126  334.500000
2         60 2020-12-03    103       135  340.000000
13        60 2020-12-13    106       128  345.300000
21        60 2020-12-21    108       131  364.200000
6         60 2020-12-07    110       136  374.000000
14        60 2020-12-14    104       132  379.300000
30        60 2020-12-30    102       129  380.300000
4         45 2020-12-05    117       148  406.000000
0         60 2020-12-01    110       130  409.100000
1         60 2020-12-02    117       145  479.000000

In [ ]:
trainer_df = pd.DataFrame({
    'Date': ['2020/12/01','2020/12/02','2020/12/03'],
    'Trainer':['Alex','Jordan','jaylor']
})
trainer_df['Date'] = pd.to_datetime(trainer_df['Date']
                                  )
merged_df = pd.merge(df,trainer_df ,on = 'Date',how = 'left')
print(merged_df)
avg_calories_by_duration = df.groupby('Duration')['Calories'].mean()
print(avg_calories_by_duration)

    Duration       Date  Pulse  Maxpulse    Calories Trainer
0         60 2020-12-01    110       130  409.100000    Alex
1         60 2020-12-02    117       145  479.000000  Jordan
2         60 2020-12-03    103       135  340.000000  jaylor
3         45 2020-12-04    109       175  282.400000     NaN
4         45 2020-12-05    117       148  406.000000     NaN
5         60 2020-12-06    102       127  300.000000     NaN
6         60 2020-12-07    110       136  374.000000     NaN
7         45 2020-12-08    104       134  253.300000     NaN
8         30 2020-12-09    109       133  195.100000     NaN
9         60 2020-12-10     98       124  269.000000     NaN
10        60 2020-12-11    103       147  329.300000     NaN
11        60 2020-12-12    100       120  250.700000     NaN
12        60 2020-12-12    100       120  250.700000     NaN
13        60 2020-12-13    106       128  345.300000     NaN
14        60 2020-12-14    104       132  379.300000     NaN
15        60 2020-12-15     98       123  275.000000     NaN
16        60 2020-12-16     98       120  215.200000     NaN
17        60 2020-12-17    100       120  300.000000     NaN
18        45 2020-12-18     90       112  305.462069     NaN
19        60 2020-12-19    103       123  323.000000     NaN
20        45 2020-12-20     97       125  243.000000     NaN
21        60 2020-12-21    108       131  364.200000     NaN
22        60 2020-12-23    130       101  300.000000     NaN
23        45 2020-12-24    105       132  246.000000     NaN
24        60 2020-12-25    102       126  334.500000     NaN
25        60 2020-12-26    100       120  250.000000     NaN
26        60 2020-12-27     92       118  241.000000     NaN
27        60 2020-12-28    103       132  305.462069     NaN
28        60 2020-12-29    100       132  280.000000     NaN
29        60 2020-12-30    102       129  380.300000     NaN
30        60 2020-12-31     92       115  243.000000     NaN
Duration
30    195.100000
45    289.360345
60    314.085920
Name: Calories, dtype: float64

In [ ]:


# Group by Duration and get average Calories
avg_calories_by_duration = df.groupby('Duration')['Calories'].mean()

# Group by Pulse range (bucketed)
df['PulseRange'] = pd.cut(df['Pulse'], bins=[100, 110, 120, 130, 140, 150, 180])
grouped_stats = df.groupby('PulseRange', observed=False).agg({
    'Calories': 'mean',
    'Maxpulse': 'max'
})
print(grouped_stats)

              Calories  Maxpulse
PulseRange
(100, 110]  322.578879     175.0
(110, 120]  442.500000     148.0
(120, 130]  300.000000     101.0
(130, 140]         NaN       NaN
(140, 150]         NaN       NaN
(150, 180]         NaN       NaN

In [ ]:
df.rename(columns ={'Maxpulse':'Max_pulse'},inplace = True)
df

    Duration       Date  Pulse  Max_pulse    Calories      PulseRange
0         60 2020-12-01    110        130  409.100000  (100.0, 110.0]
1         60 2020-12-02    117        145  479.000000  (110.0, 120.0]
2         60 2020-12-03    103        135  340.000000  (100.0, 110.0]
3         45 2020-12-04    109        175  282.400000  (100.0, 110.0]
4         45 2020-12-05    117        148  406.000000  (110.0, 120.0]
5         60 2020-12-06    102        127  300.000000  (100.0, 110.0]
6         60 2020-12-07    110        136  374.000000  (100.0, 110.0]
7         45 2020-12-08    104        134  253.300000  (100.0, 110.0]
8         30 2020-12-09    109        133  195.100000  (100.0, 110.0]
9         60 2020-12-10     98        124  269.000000             NaN
10        60 2020-12-11    103        147  329.300000  (100.0, 110.0]
11        60 2020-12-12    100        120  250.700000             NaN
12        60 2020-12-12    100        120  250.700000             NaN
13        60 2020-12-13    106        128  345.300000  (100.0, 110.0]
14        60 2020-12-14    104        132  379.300000  (100.0, 110.0]
15        60 2020-12-15     98        123  275.000000             NaN
16        60 2020-12-16     98        120  215.200000             NaN
17        60 2020-12-17    100        120  300.000000             NaN
18        45 2020-12-18     90        112  305.462069             NaN
19        60 2020-12-19    103        123  323.000000  (100.0, 110.0]
20        45 2020-12-20     97        125  243.000000             NaN
21        60 2020-12-21    108        131  364.200000  (100.0, 110.0]
23        60 2020-12-23    130        101  300.000000  (120.0, 130.0]
24        45 2020-12-24    105        132  246.000000  (100.0, 110.0]
25        60 2020-12-25    102        126  334.500000  (100.0, 110.0]
26        60 2020-12-26    100        120  250.000000             NaN
27        60 2020-12-27     92        118  241.000000             NaN
28        60 2020-12-28    103        132  305.462069  (100.0, 110.0]
29        60 2020-12-29    100        132  280.000000             NaN
30        60 2020-12-30    102        129  380.300000  (100.0, 110.0]
31        60 2020-12-31     92        115  243.000000             NaN

In [ ]:
df.query('Pulse > 110 and Calories<400')
df[df['Calories'].between(400,500)]

   Duration       Date  Pulse  Max_pulse  Calories  PulseRange
0        60 2020-12-01    110        130     409.1  (100, 110]
1        60 2020-12-02    117        145     479.0  (110, 120]
4        45 2020-12-05    117        148     406.0  (110, 120]

In [194]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/OnlineRetail.csv'
df = pd.read_csv(path)
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
37304,539456,85135C,RED DRAGONFLY HELICOPTER,2,12/17/2010 17:23,7.95,16885.0,United Kingdom
37305,539456,22095,LADS ONLY TISSUE BOX,1,12/17/2010 17:23,1.25,16885.0,United Kingdom
37306,539456,15056BL,EDWARDIAN PARASOL BLACK,1,12/17/2010 17:23,5.95,16885.0,United Kingdom
37307,539456,20679,EDWARDIAN PARASOL RED,1,12/17/2010 17:23,5.95,16885.0,United Kingdom
37308,539456,85136A,YELLOW SHARK HELICOPTER,1,12/17/20,NaN,NaN,NaN

In [195]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [196]:
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
37304,539456,85135C,RED DRAGONFLY HELICOPTER,2,12/17/2010 17:23,7.95,16885.0,United Kingdom
37305,539456,22095,LADS ONLY TISSUE BOX,1,12/17/2010 17:23,1.25,16885.0,United Kingdom
37306,539456,15056BL,EDWARDIAN PARASOL BLACK,1,12/17/2010 17:23,5.95,16885.0,United Kingdom
37307,539456,20679,EDWARDIAN PARASOL RED,1,12/17/2010 17:23,5.95,16885.0,United Kingdom
37308,539456,85136A,YELLOW SHARK HELICOPTER,1,12/17/20,NaN,NaN,NaN

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37309 entries, 0 to 37308
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    37309 non-null  object
 1   StockCode    37309 non-null  object
 2   Description  37192 non-null  object
 3   Quantity     37309 non-null  int64
 4   InvoiceDate  37309 non-null  object
 5   UnitPrice    37308 non-null  float64
 6   CustomerID   24429 non-null  float64
 7   Country      37308 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 2.3+ MB

In [198]:
df.shape
df.isnull().sum()

InvoiceNo          0
StockCode          0
Description      117
Quantity           0
InvoiceDate        0
UnitPrice          1
CustomerID     12880
Country            1
dtype: int64

In [205]:
new_df = df.dropna(subset = ['CustomerID'])
print(new_df.to_string())

In [207]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [212]:

df['Description'] = df['Description'].fillna("Unknown")
print(df.head(1000).to_string())

In [216]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df = df.dropna(subset=['InvoiceDate'])
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
37303,539456,84032B,CHARLIE + LOLA RED HOT WATER BOTTLE,1,2010-12-17 17:23:00,2.95,16885.0,United Kingdom
37304,539456,85135C,RED DRAGONFLY HELICOPTER,2,2010-12-17 17:23:00,7.95,16885.0,United Kingdom
37305,539456,22095,LADS ONLY TISSUE BOX,1,2010-12-17 17:23:00,1.25,16885.0,United Kingdom
37306,539456,15056BL,EDWARDIAN PARASOL BLACK,1,2010-12-17 17:23:00,5.95,16885.0,United Kingdom
37307,539456,20679,EDWARDIAN PARASOL RED,1,2010-12-17 17:23:00,5.95,16885.0,United Kingdom

In [215]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [219]:
df = df[df['Quantity'] >= 0]
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
37303,539456,84032B,CHARLIE + LOLA RED HOT WATER BOTTLE,1,2010-12-17 17:23:00,2.95,16885.0,United Kingdom
37304,539456,85135C,RED DRAGONFLY HELICOPTER,2,2010-12-17 17:23:00,7.95,16885.0,United Kingdom
37305,539456,22095,LADS ONLY TISSUE BOX,1,2010-12-17 17:23:00,1.25,16885.0,United Kingdom
37306,539456,15056BL,EDWARDIAN PARASOL BLACK,1,2010-12-17 17:23:00,5.95,16885.0,United Kingdom
37307,539456,20679,EDWARDIAN PARASOL RED,1,2010-12-17 17:23:00,5.95,16885.0,United Kingdom

In [226]:
x= df['UnitPrice'].mean()
df = df[df['UnitPrice']>=0]
duplicates = df[df.duplicated()]
print(duplicates)
df = df.drop_duplicates()
df

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
37303,539456,84032B,CHARLIE + LOLA RED HOT WATER BOTTLE,1,2010-12-17 17:23:00,2.95,16885.0,United Kingdom
37304,539456,85135C,RED DRAGONFLY HELICOPTER,2,2010-12-17 17:23:00,7.95,16885.0,United Kingdom
37305,539456,22095,LADS ONLY TISSUE BOX,1,2010-12-17 17:23:00,1.25,16885.0,United Kingdom
37306,539456,15056BL,EDWARDIAN PARASOL BLACK,1,2010-12-17 17:23:00,5.95,16885.0,United Kingdom
37307,539456,20679,EDWARDIAN PARASOL RED,1,2010-12-17 17:23:00,5.95,16885.0,United Kingdom

Filtering & Sorting
Filter transactions where Quantity > 1000 (suspicious outliers)
Sort by UnitPrice * Quantity descending (i.e. highest revenue orders)
Merge / Enrich Data
Create a small custom DataFrame product_info with columns StockCode, Category, Supplier
Convert its date (if needed) and merge with the main dataset on StockCode (left join)
Group & Aggregation
Group by Country and compute total revenue, mean revenue per order, and count of orders
Create a new column Revenue = Quantity * UnitPrice
Use pd.cut() to bucket UnitPrice (e.g. cheap, medium, expensive) and then group by that price range to see how many purchases and average revenue
Correlation / Relationships
Use .corr() on numeric columns (Quantity, UnitPrice, Revenue)
Interpret which factors are strongly related (e.g. high quantity often correlates with higher revenue)
Rename & String Operations
Rename StockCode to Product_ID, UnitPrice to Price
Use .str methods on Description â€” e.g., .str.lower(), .str.contains("glass"), etc.
Filter products whose description contains certain keywords

In [229]:
new_df = df[df['Quantity']>=120]
print(new_df)

      InvoiceNo StockCode                      Description  Quantity  \
96       536378     21212  PACK OF 72 RETROSPOT CAKE CASES       120
178      536387     79321                    CHILLI LIGHTS       192
179      536387     22780   LIGHT GARLAND BUTTERFILES PINK       192
180      536387     22779       WOODEN OWLS LIGHT GARLAND        192
181      536387     22466    FAIRY TALE COTTAGE NIGHTLIGHT       432
...         ...       ...                              ...       ...
34387    539338     85178             VICTORIAN SEWING KIT       144
34388    539338     22651      GENTLEMAN SHIRT REPAIR KIT        144
34394    539338     22915    ASSORTED BOTTLE TOP  MAGNETS        120
34570    539407     22264    FELT FARM ANIMAL WHITE BUNNY        192
36204    539443     22988                SOLDIERS EGG CUP        144

              InvoiceDate  UnitPrice  CustomerID         Country
96    2010-12-01 09:37:00       0.42     14688.0  United Kingdom
178   2010-12-01 09:58:00       3.82     16029.0  United Kingdom
179   2010-12-01 09:58:00       3.37     16029.0  United Kingdom
180   2010-12-01 09:58:00       3.37     16029.0  United Kingdom
181   2010-12-01 09:58:00       1.45     16029.0  United Kingdom
...                   ...        ...         ...             ...
34387 2010-12-17 10:54:00       1.25     17404.0          Sweden
34388 2010-12-17 10:54:00       0.85     17404.0          Sweden
34394 2010-12-17 10:54:00       0.42     17404.0          Sweden
34570 2010-12-17 12:56:00       0.19     12726.0          France
36204 2010-12-17 15:52:00       1.06     14031.0  United Kingdom

[254 rows x 8 columns]

In [243]:
sorted_df = df.sort_values(by = 'Quantity',ascending = False)
print(sorted_df)

      InvoiceNo StockCode                         Description  Quantity  \
3591     536830     84077   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880
21272    539101     22693  GROW A FLYTRAP OR SUNFLOWER IN TIN      2400
3527     536809     84950      ASSORTED COLOUR T-LIGHT HOLDER      1824
16148    538420     17096   ASSORTED LAQUERED INCENSE HOLDERS      1728
12682    537899     22328  ROUND SNACK BOXES SET OF 4 FRUITS       1488
...         ...       ...                                 ...       ...
23394    539456     21166          COOK WITH WINE METAL SIGN          1
23395    539456     21181        PLEASE ONE PERSON METAL SIGN         1
23396    539456     21903                  MAN FLU METAL SIGN         1
23397    539456    84876D           BLUE HEART COMPACT MIRROR         1
23390    539456     21055                  TOOL BOX SOFT TOY          1

              InvoiceDate  UnitPrice  CustomerID         Country Category_x  \
3591  2010-12-02 17:38:00       0.18     16754.0  United Kingdom        NaN
21272 2010-12-16 10:35:00       0.94     16029.0  United Kingdom        NaN
3527  2010-12-02 16:48:00       0.55     15299.0  United Kingdom        NaN
16148 2010-12-12 12:03:00       0.17     12875.0  United Kingdom        NaN
12682 2010-12-09 10:44:00       2.55     12755.0           Japan        NaN
...                   ...        ...         ...             ...        ...
23394 2010-12-17 17:23:00       1.95     16885.0  United Kingdom        NaN
23395 2010-12-17 17:23:00       2.10     16885.0  United Kingdom        NaN
23396 2010-12-17 17:23:00       2.10     16885.0  United Kingdom        NaN
23397 2010-12-17 17:23:00       3.75     16885.0  United Kingdom        NaN
23390 2010-12-17 17:23:00       8.95     16885.0  United Kingdom        NaN

      Supplier_x Category_y Supplier_y Category Supplier
3591         NaN        NaN        NaN      NaN      NaN
21272        NaN        NaN        NaN      NaN      NaN
3527         NaN        NaN        NaN      NaN      NaN
16148        NaN        NaN        NaN      NaN      NaN
12682        NaN        NaN        NaN      NaN      NaN
...          ...        ...        ...      ...      ...
23394        NaN        NaN        NaN      NaN      NaN
23395        NaN        NaN        NaN      NaN      NaN
23396        NaN        NaN        NaN      NaN      NaN
23397        NaN        NaN        NaN      NaN      NaN
23390        NaN        NaN        NaN      NaN      NaN

[23407 rows x 14 columns]

In [254]:
import pandas as pd

product_info = pd.DataFrame({
    'StockCode': [84077,22328,21903],
    'Category': ['Electronics', 'Clothing', 'Toys'],
    'Supplier': ['Supplier1', 'Supplier2', 'Supplier3']
})

# Convert 'StockCode' in df to numeric, coercing errors
df['StockCode'] = pd.to_numeric(df['StockCode'], errors='coerce')

# Drop rows where 'StockCode' could not be converted to numeric
df.dropna(subset=['StockCode'], inplace=True)

# Convert 'StockCode' in product_info to numeric to ensure matching types
product_info['StockCode'] = pd.to_numeric(product_info['StockCode'], errors='coerce')
product_info.dropna(subset=['StockCode'], inplace=True)


df = df.merge(product_info, on='StockCode', how='left')

print(df)

MergeError: Passing 'suffixes' which cause duplicate columns {'Supplier_x', 'Category_x'} is not allowed.